body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/ldsconferencecenter_organ.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #001f3f;
  color: white;
  padding: 12px;
}

td {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  text-align: left;
}

input {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
}

h2 {
  color: #001f3f;
  margin-bottom: 20px;
}

table a {
  color: #001f3f;
  text-decoration: none;
}

table a:hover {
  font-weight: bold;
}

button {
  grid-column: span 2;
  padding: 12px;
  background-color: #001f3f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #003366;
}